.icon-list {
  display: flex;
  flex-wrap: wrap;
  .icon-item {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    i {
      font-size: 25px;
      margin-bottom: 10px;
      transition: all 0.5s;
    }
    span {
      font-size: 14px;
      color: #555;
    }

    &:hover {
      background: #1890ff;
      i {
        transform: scale(1.5);
        color: white;
      }
      span {
        color: white;
      }
    }
  }
}
