@import '../style/theme.scss';
.ling-common {
  -webkit-tap-highlight-color: transparent;
  --antd-wave-shadow-color: $primaryColor;
  --scroll-bar: 0;
  font-feature-settings: "tnum";
  -webkit-box-direction: normal;
  font-family: inherit;
  overflow: visible;
  text-transform: none;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  box-shadow: 0 2px 0 rgba(0,0,0,.015);
  cursor: pointer;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  margin-right: 8px;
  margin-bottom: 12px;
  outline: 0;
  text-decoration: none;
  .ling-loading {
    i {
      font-size: 14px;
      color: white;
      animation: loadingCircle 1s linear infinite;
      -webkit-animation: loadingCircle 1s linear infinite;
      display: inline-block;
      margin-right: 5px;
    }
    @keyframes loadingCircle
    {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
.ling-default {
  @extend .ling-common;
  color: rgba(0,0,0,.85);
  background: #fff;
  &:hover {
    color: $primaryColor;
    border-color: $primaryColor;;
  }
}
.ling-primary {
  @extend .ling-common;
  color: #fff;
  background: $primaryColor;
  border-color: $primaryColor;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);
  &:hover {
    filter: brightness(1.1);
  }
}
.ling-danger {
  @extend .ling-common;
  color: #fff;
  background: $dangerColor;
  border-color: $dangerColor;
  &:hover {
    filter: brightness(1.1);
  }
}
.ling-ghost {
  @extend .ling-common;
  color: rgba(0,0,0,.85);
  background: transparent;
  border-color: #d9d9d9;
  border-style: dashed;
  &:hover {
    color: $primaryColor;
    border-color: $primaryColor;;
  }
}
.ling-text {
  @extend .ling-common;
  border-color: transparent;
  box-shadow: none;
  margin-right: 8px;
  margin-bottom: 12px;
  &:hover {
    background: #F2F6FC;
  }
}
.ling-link {
  @extend .ling-common;
  color: #1890ff;
  background: 0 0;
  border-color: transparent;
  box-shadow: none;
}

.ling-circle {
  width: 32px;
  height: 32px;
  padding: 2.4px 0;
  font-size: 16px;
  vertical-align: -.5px;
  min-width: 32px;
  padding-right: 0;
  padding-left: 0;
  border-radius: 50%;
}
.ling-round {
  height: 32px;
  padding: 4px 16px;
  font-size: 14px;
  border-radius: 40px;
  width: auto;
  margin-right: 8px;
  margin-bottom: 12px;
  i {
    font-size: 14px;
  }
}

.ling-disabled {
  @extend .ling-common;
  cursor: not-allowed;
  color: rgba(0,0,0,.25);
  background: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none;
}

.ling-large {
  height: 40px;
  padding: 6.4px 20px;
  font-size: 16px;
}
.ling-small {
  height: 24px;
  padding: 0 12px;
  font-size: 14px;
}