.iconfont {
  cursor: pointer;
  vertical-align: middle;
}

i.icon-loading {
  font-size: 14px;
  animation: loadingCircle 1s linear infinite;
  -webkit-animation: loadingCircle 1s linear infinite;
  display: inline-block;
}
@keyframes loadingCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
