@import '../../../style/theme.scss';
.ling-toast-wrapper {
  display: inline-block;
  margin-top: 15px;
  background: white;
  box-shadow: 0 3px 6px -4px rgba(0,0,0,.12), 0 6px 16px 0 rgba(0,0,0,.08), 0 9px 28px 8px rgba(0,0,0,.05);
  border-radius: 3px;
  padding: 10px 16px;
  opacity: 0;
  transform: translateY(-100%);
  transition: all .5s;
  position: relative;
  i {
    color: $primaryColor;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 15px;
  }
  .icon-warning {
    color: $warningColor;
  }
  .icon-success {
    color: $successColor;
  }
  .icon-error_3 {
    color: $dangerColor;
  }
  .icon-info {
    color: $infoColor;
  }
  span {
    color: rgba(0,0,0,.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    text-align: center;
    pointer-events: all;
    box-sizing: border-box;
  }
}
.ling-toast-wrapper-show {
  opacity: 1;
  transform: translateY(0%);
}